<!DOCTYPE html>
<html lang="en">
<head>
    {{> setup}}
</head>
<body class="bg-light">
    <form action="/upload-audio" method="post" enctype="multipart/form-data">
        <div class="container vh-100 d-flex justify-content-center align-items-center">
            <div class="card" style="width: 100%; max-width: 500px;">
                <div class="card-header h1 text-center text-uppercase">Upload audio</div>
                <div class="card-body">
                    <div class="file-loading">
                        <input id="input-20" type="file" name="file">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary w-100">Upload</button>
            </div>
        </div>
    </form>
    {{> script}}
</body>
</html>
